<template>
  <div id="app">
    <header>
      <span>Kyoiku Kanji Flashcards
        <button class="btn btn-success" v-bind:class="{ active: first, 'btn-lg': first}" @click="getKanjis1">1st Grade Kanji</button>
        <button class="btn btn-success" v-bind:class="{ active: second, 'btn-lg': second}" @click="getKanjis2">2nd Grade Kanji</button>
        <button class="btn btn-success" v-bind:class="{ active: third, 'btn-lg': third}" @click="getKanjis3">3rd Grade Kanji</button>
        <button class="btn btn-success" v-bind:class="{ active: fourth, 'btn-lg': fourth}" @click="getKanjis4">4th Grade Kanji</button>
        <button class="btn btn-success" v-bind:class="{ active: fifth, 'btn-lg': fifth}" @click="getKanjis5">5th Grade Kanji</button>
        <button class="btn btn-success" v-bind:class="{ active: sixth, 'btn-lg': sixth}" @click="getKanjis6">6th Grade Kanji</button>

      </span>
    </header>
    <main>
        <div class="grades">
          <div class="container">
            <button class="btn btn-primary" v-bind:class="{ active: meaningVisible, 'btn-lg': meaningVisible }" @click="displayMeaning">Study Meaning</button>
            <button class="btn btn-primary" v-bind:class="{ active: kanaVisible, 'btn-lg': kanaVisible }" @click="displayKana">Study Kana</button>
            <button class="btn btn-primary" v-bind:class="{ active: romajiVisible, 'btn-lg': romajiVisible }" @click="displayRomaji">Study Romaji</button>

            <!-- <button class="btn btn-primary" v-bind:class="{ active: kunyomiVisible, 'btn-lg': kunyomiVisible }" @click="displayKunyomi">Study Kunyomi</button> -->
            <button class="btn btn-warning" v-bind:class="{ active: backVisible }" @click="cardBackground = !cardBackground">Toggle Background</button>
            <!-- <button id="show-modal" class="btn btn-warning" v-bind:class="{ active: backVisible }" @click="showModal = true">Toggle Study List ({{selectedKanji.length}} total)</button> -->
            <button class="btn btn-danger" v-bind:class="{ active: backVisible }" @click="reverseCards">Flip All to Back</button>
            <button class="btn btn-danger" v-bind:class="{ active: backVisible }" @click="reset">Flip All to Front</button>

            <!-- use the modal component, pass in the prop -->
            <modal v-if="showModal" @close="showModal = false">
                <h3 slot="header">Kanji Study List:<br> {{selectedKanji.length}} Kanji</h3>
                <span slot="body">{{selectedKanji}}</span>
            </modal>
            
            <div v-if="loading">
              loading...
            </div>

          </div>
          
        </div>


      <div class="wrapper">
        <div class="row">
          <div class="row">
          <div v-for="kanji in kanjis" :key="kanji._cn6ca">
          <div class="col-md-4 cards">
             <div v-if="cardBackground">
                <img src="https://source.unsplash.com/9Qwbfa_RM94/450x300/" class="img-responsive" alt="Random images placeholder">
             </div>
             
            <label>
              <input type="checkbox" v-bind:value="kanji.kanji" v-model="selectedKanji"/>    
                <div class="card">
                  <div class="front">
                    <h3>{{ kanji._cn6ca }}</h3>
                    <h1>{{ kanji.kanji }}</h1>
                   
                  </div>
                  <div class="back">
                    <div v-if="meaningVisible">
                      <p>{{ kanji.meaning}}</p>
                    </div>
                    <div v-if="kanaVisible">
                      <div v-if="kanji.on && kanji.kun">
                        <p>{{ kanji.on }} / {{ kanji.kun }}</p>
                      </div>
                      <div v-else-if="kanji.on && !kanji.kun">
                        <p>{{ kanji.on}}</p>
                      </div>
                      <div v-else-if="kanji.kun && !kanji.on">
                        <p>{{ kanji.kun}}</p>
                      </div>
                      <div v-else>
                        <p>No Reading Found</p>
                      </div>
                    </div>
                    <div v-if="romajiVisible">
                      <div v-if="kanji.on && kanji.kun">
                        <p>{{ convertRomaji(kanji.on) }} / {{ convertRomaji(kanji.kun) }}</p>
                      </div>
                      <div v-else-if="kanji.on && !kanji.kun">
                        <p>{{ convertRomaji(kanji.on)}}</p>
                      </div>
                      <div v-else-if="kanji.kun && !kanji.on">
                        <p>{{ convertRomaji(kanji.kun)}}</p>
                      </div>
                      <div v-else>
                        <p>No Reading Found</p>
                      </div>
                    </div>
                    
                  </div>
                 </div>
              </label>
              <div class="more-info"><a v-bind:href="kanjiLink + kanji.kanji + '%20%23kanji'" target="_blank">More Info</a></div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import axios from 'axios';
import hepburn from 'hepburn';
import Modal from './Modal.vue';

export default {
  name: 'app',
  components: {
    'modal': Modal
  },
  data () {
    return {
      kanjis: [],
      loading: false,
      meaningVisible: true,
      kanaVisible: false,
      romajiVisible: false,
      backVisible: false,
      selectedKanji: [],
      first: false,
      second: false,
      third: false,
      fourth: false,
      fifth: false,
      sixth: false,
      cardBackground: false,
      showModal: false,
      kanjiLink: "http://www.jisho.org/search/"
    }
  },
  created() {
    this.kanjis = this.kanjis.map(kanji => Object.assign({}, kanji, { flipped: false }));
  },
  methods: {
    displayMeaning: function() {
      this.meaningVisible = true;
      this.kanaVisible = false;
      this.romajiVisible = false;
    },
    displayKana: function() {
      this.kanaVisible = true;
      this.meaningVisible = false;
      this.romajiVisible = false;
    },
    displayRomaji: function() {
      this.romajiVisible = true;
      this.kanaVisible = false;
      this.meaningVisible = false;
    },
    convertRomaji: function(kana) {
      return hepburn.fromKana(kana);
    },
    reverseCards: function() {
      this.selectedKanji = [];
      this.kanjis.forEach(kanji => {
        this.selectedKanji.push(kanji.kanji);
      });
    },
    reset: function() {
      this.backVisible = !this.backVisible;
      this.selectedKanji = [];
      // this.kanjis.filter(kanji => kanji.flipped = !kanji.flipped);
    },
    getKanjis1: function() {
      this.loading = true;
      this.first = true;
      this.second = false;
      this.third = false; 
      this.fourth = false;
      this.fifth = false;
      this.sixth = false;
      axios.get("http://gsx2json.com/api?id=1OEjFQJge0frOH3kCWFOP9_uDpXm0TBbDv647Uxn7-g4")
      .then((response) => {
        this.loading = false;
        this.kanjis = response.data.rows;
      }, (error) => {
        this.loading = false;
      })
    },
    getKanjis2: function() {
      this.loading = true;
      this.first = false;
      this.second = true;
      this.third = false;
      this.fourth = false;
      this.fifth = false;
      this.sixth = false;
      axios.get("http://gsx2json.com/api?id=1OEjFQJge0frOH3kCWFOP9_uDpXm0TBbDv647Uxn7-g4&sheet=2")
      .then((response) => {
        this.loading = false;
        this.kanjis = response.data.rows;
        console.log(this.kanji);
      }, (error) => {
        this.loading = false;
      })
    },
    getKanjis3: function() {
      this.loading = true;
      this.first = false;
      this.second = false;
      this.third = true;
      this.fourth = false;
      this.fifth = false;
      this.sixth = false;
      axios.get("http://gsx2json.com/api?id=1OEjFQJge0frOH3kCWFOP9_uDpXm0TBbDv647Uxn7-g4&sheet=3")
      .then((response) => {
        this.loading = false;
        this.kanjis = response.data.rows;
        console.log(this.kanji);
      }, (error) => {
        this.loading = false;
      })
    },
    getKanjis4: function() {
      this.loading = true;
      this.first = false;
      this.second = false;
      this.third = false;
      this.fourth = true;
      this.fifth = false;
      this.sixth = false;
      axios.get("http://gsx2json.com/api?id=1OEjFQJge0frOH3kCWFOP9_uDpXm0TBbDv647Uxn7-g4&sheet=4")
      .then((response) => {
        this.loading = false;
        this.kanjis = response.data.rows;
        console.log(this.kanji);
      }, (error) => {
        this.loading = false;
      })
    },
    getKanjis5: function() {
      this.loading = true;
      this.first = false;
      this.second = false;
      this.third = false;
      this.fourth = false;
      this.fifth = true;
      this.sixth = false;
      axios.get("http://gsx2json.com/api?id=1OEjFQJge0frOH3kCWFOP9_uDpXm0TBbDv647Uxn7-g4&sheet=5")
      .then((response) => {
        this.loading = false;
        this.kanjis = response.data.rows;
        console.log(this.kanji);
      }, (error) => {
        this.loading = false;
      })
    },
    getKanjis6: function() {
      this.loading = true;
      this.first = false;
      this.second = false;
      this.third = false;
      this.fourth = false;
      this.fifth = false;
      this.sixth = true;
      axios.get("http://gsx2json.com/api?id=1OEjFQJge0frOH3kCWFOP9_uDpXm0TBbDv647Uxn7-g4&sheet=6")
      .then((response) => {
        this.loading = false;
        this.kanjis = response.data.rows;
        console.log(this.kanji);
      }, (error) => {
        this.loading = false;
      })
    }
  },
  beforeMount(){
    this.getKanjis1();
 },
}
</script>

<style>
 body {
  margin: 0;
}

h1 {
  font-size: 70px;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

main {
  text-align: center;
  margin-top: 40px;
}

header {
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #35495E;
  color: #ffffff;
  z-index: 100;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 8px;
    margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  align-content:center;
}

button {
  background: #51B767;
  color: #ffffff;
  padding: 15px;
  border-radius: 0;
  font-weight: bold;
  font-size: 15px;
  border: 0;
}

.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
  text-align:center;
  align-content:center;
}

.btn-group {
   margin:0 auto;
   display:block;
}

.grades {
  position: fixed;
  top: 50px;
  z-index: 100;
  width: 100%;
}

.container {
  width: 100%;
  margin-right:auto;
  margin-left:auto;
  padding-left:15px;
  padding-right:15px;
  text-align:center;
  align-content:center;
}

.cards {
  background: #F5F5F5;
  height:300px;
}
 .cards:hover {
  transform: translateY(-0.5em);
  background: #EBEBEB;
}


.cards {
   column-count: 1;
    column-gap: 1em;
    margin-top: 20px;

}

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

    .card div {
        position: absolute;
        height: 100%;
        width: 100%;
        background: #FFF;
        text-align: center;
        line-height: 200px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 2px;
    }

    .card .back {
        background: #FFF;
        color: #000;
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }

label:hover .card {
    -webkit-transform: rotateX(20deg);
    transform: rotateX(20deg);
    box-shadow: 0 20px 20px rgba(50,50,50,.2);
}

input {
  display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

label:hover :checked + .card {
    transform: rotateX(160deg);
    -webkit-transform: rotateX(160deg);
    box-shadow: 0 20px 20px rgba(255,255,255,.2);
} 

.more-info {
  position: absolute;
  left: 200px;
  bottom: 10px;
}
</style>
