<template>
...
</template>

<script>
  import axios from 'axios';
  
export default {
  name: 'app',
  data () {
    return {
      jokes: [],
      loading: false
    }
  }, 
  methods: {
    getJokes: function () {
      this.loading = true;
      axios.get("http://api.icndb.com/jokes/random/10")
      .then((response)  =>  {
        this.loading = false;
        this.jokes = response.data.value;
      }, (error)  =>  {
        this.loading = false;
      })
    }
  },
}
</script>
<style>
...
</style>